.art-card {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.art-image {
    width: 100%;
    height:auto;
    border-radius:1rem;
    /* flex-direction:row;
    display: flex;  
    align-items: center;
    justify-content: center;
    border-radius:1rem;
    align-self:center; */
}

.art-info {
    margin-top: 0.75rem;
    text-align: center;
}

.art-info h3 {
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

.art-info p {
  font-size: 2rem;
  color: #7c7c7c;
  margin: 0.25rem 0 0;
  margin-top:-1rem;
}