
.music-card {
    text-align: left;
    align-items: left;
    align-self: center;
    display:flex;
    flex-direction: column;
    padding:2rem;
    margin-left:3rem;
    margin-right:3rem;
}

.music-text {
    display:flex;
    flex-direction: row;
}

.info-pic {
    display: flex;
    flex-direction: row;
    /* max-width: 100%; */
    height:auto;
}

.band-image {
    display:flex;
    flex: 0 0 50%;
    width:50%;
    height:auto;
    align-self: left;
    margin-right:2rem;
    border-radius: 1rem;
    margin-bottom:3rem;
    flex-shrink: 0;
    object-fit:cover;
}

/* .band-vid {
    display:flex;
    height: 600px;
    aspect-ratio: 9 / 16;
    margin-right:4rem;
}

.band-vid video {
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
    border-radius:1rem;
    object-fit: cover;
} */


.band-info {
    width:100%;
    height:auto;
    text-align: left;
    flex:1;
}

.music-card h1 {
    text-align:left;
    font-weight:600;
    letter-spacing:0.05em;
    align-self:left;
}

h2 {
    font-weight:500;
    letter-spacing:0.05em;
    margin-top:2rem;
    align-self:left;
    text-align:left;
}

h3 {
    font-size:40px;
    font-weight:500;
    letter-spacing:0.05em;
    margin-top:3rem;
    margin-left:1rem;
    color:rgb(145, 145, 145);
    align-self:left;
    text-align:left;
}

p {
    margin-top:-1rem;
}

.music-card ul {
    font-size: 28px;
    color:rgb(126, 126, 126);
    line-height: 3rem;
    margin-top:-1rem;
}